@use "../abstract" as *;

// Button

.c-button {
  cursor: pointer;
  display: inline-block;
  color: var(--clr-light-100);
  background-color: var(--clr-light-500);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0.513em 4em;
  height: 44px;
  transition: $transition-global;

  &:hover,
  &:focus {
    background-color: var(--clr-dark-700);
  }

  &:active {
    background-color: var(--clr-dark-600);
  }
}
