@use "../abstract" as *;

// Contact form

.c-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2em 0;
  gap: 1em;

  &__input {
    font-size: 1rem;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--clr-neutral-100);
    border: 2px solid var(--clr-dark-500);
    border-radius: 4px;
    transition: $transition-global;

    &:hover,
    &:focus {
      border-color: var(--clr-dark-600);
      box-shadow: 0 0 4px 2px var(--clr-dark-200);
      outline: 3px solid transparent;
    }
  }
}
