@use "../abstract" as *;

// Navigation

.c-nav {
  background-color: var(--clr-dark-700);
  position: fixed;
  width: 25%;
  height: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3em 1em;
    height: 100%;
  }

  &__link {
    color: var(--clr-light-100);
  }
}
