@use "../abstract" as *;
@use "../tools" as *;

// Navigation

.c-nav {
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__link {
    color: var(--clr-light-100);
  }
}
