@use "../abstract" as *;
@use "../tools" as *;

// Navigation

.c-navmobile {
  background-color: var(--clr-dark-700);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2em;
  transform: translateX(-100%);
  transition: $transition-global;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__link {
    color: var(--clr-light-100);
  }
}

.nav-open {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}
