@use "../abstract" as *;

// Button open menu

.c-openmenu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: 2rem;
  padding: 0.1em;
  transition: $transition-global;

  &:hover,
  &:focus {
    color: var(--clr-dark-700);
  }

  &:active {
    color: var(--clr-dark-600);
  }
}
