@use "../abstract" as *;

// Social

.c-social {
  border-left: 1px solid var(--clr-light-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;

  &__item {
    display: flex;
    padding-left: 1em;
  }

  &__link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.35em;
    outline: none;
  }

  &__icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--clr-light-100);
  }
}
