// Reset config

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
body,
figure {
  margin: 0;
}

menu,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
