// Layout Header

.l-header {
  background-image: linear-gradient(hsla(0, 0%, 12%, 0.6), hsla(0, 0%, 12%, 1)),
    url("/src/images/01.AVIF");
  background-position: top right 15%;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  &__title {
    padding: 2em 0;
  }

  .subtitle-fs {
    font-size: clamp(1.383rem, 4vw + 1rem, 5rem);
  }

  &__explorer {
    display: none;
    justify-content: space-between;
    gap: 1em;
  }
}
