@use "../abstract" as *;
@use "../tools" as *;

// Layout Main

.l-main {
  display: flex;
  flex-direction: column;
  text-align: justify;

  &__about {
    display: grid;
  }

  &__image {
    display: inline-block;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    margin-top: 1em;
  }

  .title-fs {
    font-size: clamp(1.383rem, 4vw + 1rem, 5rem);
    margin-top: 0;
  }

  &__paragraph {
    text-align: justify;
  }

  &__perfil,
  &__makingOff,
  &__design,
  &__photograph,
  &__about {
    align-items: center;
  }

  &__perfil {
    display: grid;
    grid-template-columns: min(100px, 15%) 1fr;
    column-gap: 2em;
    margin: 1em 0;
  }

  &__portrait {
    display: inline-block;
    width: 100%;
  }

  &__portrait,
  .image-portrait {
    border-radius: 50%;
  }

  .image-portrait {
    width: 30%;
    margin-bottom: 1em;
  }

  &__makingOff {
    display: grid;
    background-color: var(--clr-dark-600);
  }

  &__design {
    background-image: linear-gradient(
        hsla(0, 0%, 12%, 0.8),
        hsla(0, 0%, 12%, 0.8)
      ),
      url("/src/images/02.AVIF");

    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    padding: 2em 0;
  }

  &__photograph,
  &__contact {
    background-color: var(--clr-dark-600);
    display: grid;
  }

  &__gallery,
  &__photograph,
  &__contact,
  &__design {
    text-align: center;
  }

  &__contact {
    display: grid;
  }

  // Media queries

  @include breakPoints("small") {
    &__about,
    &__makingOff,
    &__photograph,
    &__contact {
      grid-template-columns: repeat(2, 1fr);
    }

    &__image {
      height: 100%;
    }

    .image-order {
      order: -1;
    }

    .paragraph-columns {
      columns: 2;
      column-gap: 1em;
    }

    .c-gallery {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  @include breakPoints("medium") {
  }
}
