$colors: (
  neutral: (
    100: hsl(0, 0%, 80%),
    200: hsl(0, 0%, 70%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 40%),
    500: hsl(0, 0%, 30%),
    600: hsl(0, 0%, 20%),
    700: hsl(0, 0%, 12%),
  ),
  light: (
    100: hsl(33, 53%, 80%),
    200: hsl(33, 53%, 70%),
    300: hsl(33, 53%, 60%),
    400: hsl(33, 53%, 40%),
    500: hsl(33, 53%, 30%),
    600: hsl(33, 53%, 20%),
    700: hsl(33, 53%, 12%),
  ),
  dark: (
    100: hsl(69, 19%, 80%),
    200: hsl(69, 19%, 70%),
    300: hsl(69, 19%, 60%),
    400: hsl(69, 19%, 40%),
    500: hsl(69, 19%, 30%),
    600: hsl(69, 19%, 20%),
    700: hsl(69, 19%, 12%),
  ),
);
